body{
    font:20px Arial,sans-serif;
}
.navbar{
    background-color: #46E14C;
}

.quem-somos{
    background-color: aqua;
}

.margin{
    padding: 30px;
}

.projetos{
    background-color: cornflowerblue;
}


.bg-footer{
    background-color: black;
    color:white;
}